@page
@model crud.Net7Razor.Pages_Interesses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Interesses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Interesses.Interesse" class="control-label"></label>
                <input asp-for="Interesses.Interesse" class="form-control" />
                <span asp-validation-for="Interesses.Interesse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interesses.DataCadastro" class="control-label"></label>
                <input asp-for="Interesses.DataCadastro" class="form-control" />
                <span asp-validation-for="Interesses.DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interesses.ClienteId" class="control-label"></label>
                <select asp-for="Interesses.ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

